.scaling:hover{
    transform: scale(1.25,1.25);
    transition: transform 0.25s ease;
}

.glyphicon-move {
    cursor: move;
    cursor: -webkit-grabbing;
  }

.del{
    cursor: pointer;
}

.toBlue:hover{
    color:deepskyblue;
}

.toPink:hover{
    color:crimson;
}

#render-area li{
    font-size: 18pt;
}